<meta charset="utf-8">
<title>盈至网站管理后台</title>
<meta name="renderer" content="webkit" />
<link href="/Public/css/yz_basic.css" rel="stylesheet" type="text/css" />
<link href="/Public/css/yz_admin.css" rel="stylesheet" type="text/css" />
<script src="/Public/js/jquery.min.js" type="text/javascript"></script>
<script>var conUrl="/{$Request.module}/{$Request.controller}";var rootUrl="{$Request.root}";var select_condition='{:input("param.condition")}';</script>
<script src="/Public/js/yz_admin.js" type="text/javascript"></script>