


    <div class="footer" style="background-color: black">
        <div class="top">
        <div class="newbanb">
        <div class="banb_center">
        <div class="newbanb_div newbanb_div1">


        </div>
        <div class="newbanb_div newbanb_div2">
        <div class="img_box">

        </div>

        </div>
        <div class="newbanb_div newbanb_div3">


        </div>
        <div class="newbanb_div newbanb_div4">

        </div>
        <div style="clear:both;"></div>
        </div>
        </div>
        <div class="block right" style="padding: 6px 0 0 123px;">
        <h3>关于盈至</h3>
        <hr>
        <ul>
        <li><a style="font-size: 13px" href="/yz/about/company">公司简介</a></li>
        <li><a style="font-size: 13px" href="/yz/about/team">核心团队</a></li>

        </ul>
        </div>
        <div class="block center" style="padding: 6px 0 0 123px;">
        <h3>产品中心</h3>
        <hr>
        <ul>
        <li><a style="font-size: 13px" href="/help/help/help/par/1/id/1">三大基金产品要素表</a></li>

        </ul>
        </div>

        <img class="erweima" style="margin: 37px 0 0 55%;" src="/Public/img/yz11.png">
        </div>
        <div class="bottom">&copy; 2017   All rights reserved | <span>地址:厦门市湖里区嘉禾路398号财富港湾写字楼710室</span> <a tel="0592-513426">客服热线:0592-513426</a>  <a href="http://www.miitbeian.gov.cn/" target="_black" style="color:#777;">闽ICP备17017794号-1</a> </div>
    </div>

<div class="mt_content">
    <div id="footer">

    </div>
</div>