<meta charset="UTF-8">
<meta name="renderer" content="webkit" >
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="Cache-Control" content="no-transform" >
<meta http-equiv="Cache-Control" content="no-siteapp" >
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" >
<link rel="icon" href="/Public/img/yz_icon.jpg" type="image/x-icon">
<script src="/Public/js/jquery.min.js"></script>
<link rel="stylesheet" href="/Public/css/basic.css">
<script src="/Public/js/yz.js"></script>
<link rel="stylesheet" href="/Public/css/common.css">
<link rel="stylesheet" href="/Public/css/dookayui.css">
<link rel="stylesheet" href="/Public/css/main.css">
<link rel="stylesheet" href="/Public/css/yz.css" type="text/css">
