<div class="white">
    <div class="nav_box">
        <h1 class="logo">
            厦门盈至资产管理
            <a href="/yz/index/index"></a>
        </h1>
        <div class="header_nav" id="header_nav">
            <ul>
                <li ><a  class="" href="/yz/index/index">首页</a></li>
                <li><a  href="/yz/product/index">产品中心</a></li>
                <!--<li><a href="">投资体系</a></li>-->
                <li><a href="/yz/about/company">关于盈至</a></li>
                <li><a href="/yz/about/team">核心团队</a></li>
                <li><a href="/yz/news/news">新闻中心</a></li>

            </ul>
        </div>

    </div>

</div>
<!--<div class="head"> <img src="/Public/img/yz_icon.jpg" width="120" height="120" alt="">-->
  <!--<ul>-->
      <!--<li>-->
         <!---->
      <!--</li>-->
      <!--<li>-->
          <!--<ul id="list_1" style="clear: both">-->
              <!--<li ><a  class="" href="/yz/index/index">首页</a></li>-->
              <!--<li><a  href="/yz/product/index">产品中心</a></li>-->
              <!--<li><a href="">投资体系</a></li>-->
              <!--<li><a href="/yz/about/company">关于盈至</a></li>-->
              <!--<li><a href="/yz/about/team">核心团队</a></li>-->
              <!--<li><a href="/yz/news/news">新闻中心</a></li>-->
          <!--</ul>-->
      <!--</li>-->
  <!--</ul>-->

<!--</div>-->
<div id="img" style="display: none">
    <img style="" src="/Public/img/gg.png" alt="">
</div>
<div id="overlay"></div>

